<?xml version="1.0" ?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
  </configSections>

  <log4net>
    <appender name="LogglyAppender" type="SitecoreLogglyAppender.LogglyAppender, SitecoreLogglyAppender">
      <url value="https://logs.loggly.com/inputs/YOUR-API-KEY-HERE" />
      <threshold value="WARN" />
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogglyAppender" />
    </root>
  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" 
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="c:\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>